<!-- EJS file for the login page -->
<%- include('partials/header.ejs') %>

    <h1>Log In</h1>
    <div class="d-flex justify-content-center">
    <div class="w-50 px-4" style="max-width: 12cm; min-width: 12cm"> <!-- TODO: Put this styling in content.css -->
        <form>
        <div class="form-group mb-3">
            <div class="form-group mb-3">
            <label for="email">Email</label>
            <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
                required
            />
            </div>

            <div class="form-group mb-4">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Enter password"
                    required
                >
            </div>

            <%- include('partials/button', {
                style: 'btn-primary w-100 justify-content-center',
                iconType: null,
                icon: '',
                text: 'Sign In',
                type: 'submit'
            }) %>
        </div>
        </form>
    </div>
    </div>

<%- include('partials/footer.ejs') %>
