<!-- EJS file for the view page -->
<%- include('partials/header.ejs') %>

    <div class="container my-5">
        <h1 class="text-center" id="blog-title">Loading...</h1>
    </div>

    <div class="d-flex justify-content-center align-items-center my-3">
        <img id="author-profile-image" src="" alt="Author" class="rounded-circle mr-2" style="width: 40px; height: 40px; object-fit: cover;">
    </div>

<%- include('partials/footer.ejs') %>