<!-- EJS file for the view page -->
<%- include('partials/header.ejs') %>

    <div class="container my-5">
        <h1 class="text-center" id="blog-title">Loading...</h1>

        <div class="d-flex justify-content-center align-items-center my-3">
            <img id="author-profile-image" src="" alt="Author" class="rounded-circle mr-2" style="width: 40px; height: 40px; object-fit: cover;">
            <span id="author-username" class="font-weight-bold">Loading...</span>
        </div>

        <div class="row my-4">
            <!-- Blog Image (Left 50%) -->
            <div class="col-md-6 mb-3 mb-md-0 d-flex justify-content-center">
                <img id="blog-image" src="" alt="Blog Visual" class="img-fluid rounded">
            </div>
            <!-- Blog Text (Right 50%) -->
            <div class="col-md-6">
                <p id="blog-content">Loading...</p>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-outline-primary d-flex align-items-center mx-auto">
                <!-- Add image and reference it here-->
                 Back to blogs
            </button>
        </div>
    </div>

<%- include('partials/footer.ejs') %>