<!-- EJS file for the write page -->
<%- include('partials/header.ejs') %>

    <div class="container py-5">
    <h2 class="text-center mb-4">Create New Post</h2>
    <div class="row">
        <div class="col-md-6 mb-4">
            <h4 class="text-center mb-3">Upload image</h4>
                <div class="d-flex justify-content-center">
                    <input
                    type="file"
                    class="form-control-file"
                    accept="image/png, image/jpeg, image/webp, image/gif"
                    />
                </div>
            </h4>
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-success d-flex align-items-center mx-auto px-4 py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-upload mr-2" viewBox="0 0 16 16"</svg> <!-- TODO: switch this with the better post svg you have. Also make the styling something consistent. -->
                    <path d="M.5 9.9A.5.5 0 0 1 1 10h3v2.5A1.5 1.5 0 0 0 5.5 14h5A1.5 1.5 0 0 0 12 12.5V10h3a.5.5 0 0 1 .354.854l-6 6a.5.5 0 0 1-.708 0l-6-6A.5.5 0 0 1 .5 9.9zM8 0a.5.5 0 0 1 .5.5V9h-1V.5A.5.5 0 0 1 8 0z"/> <!-- Yeah, switch this too -->
                </svg>
                <span class="ml-2">Post blog!</span>
            </button>
        </div>
    </div>

<%- include('partials/footer.ejs') %>
